<mat-toolbar fxLayout="row" fxLayoutAlign="start center" color="primary">
    <span routerLink="/" id="logo" class="clickable">CodeTattoo</span>
    <div fxFlex></div>
    <button mat-icon-button [matMenuTriggerFor]="settings">
        <mat-icon>settings</mat-icon>
      </button>
      <mat-menu #settings="matMenu">
        <button mat-menu-item [matMenuTriggerFor]="languages">
          <mat-icon>language</mat-icon>
          <span>{{'ui.header.language' | translate }}</span>
        </button>
        <button mat-menu-item *ngIf="auth.user | async" (click)="logout()">
          <mat-icon>exit_to_app</mat-icon>
          <span>{{'ui.header.logout' | translate }}</span>
        </button>
      </mat-menu>
      <mat-menu #languages="matMenu">
        <button mat-menu-item *ngFor="let lang of translateService.langs" 
        [style.font-weight]="translateService.currentLang === lang ? 'bold' : 'inherit'"
        (click)="changeLanguage(lang)">{{lang}}</button>
      </mat-menu>
</mat-toolbar>