<div fxLayout="row" class="h-100 w-100" fxLayoutAlign="center center">
	<div fxFlex="100%" fxFlex.gt-xs="80%" fxFlex.gt-md="50%" fxLayout="column" fxLayoutGap="1rem">
		<div class="mat-display-1">Forgot password</div>
		<form fxLayout="column" fxLayoutGap="1rem" novalidate [formGroup]="fpForm" (submit)="sendEmail()">
			<mat-error *ngIf="fpForm.hasError('failed')">{{fpForm.errors.failed.message}}</mat-error>
			<mat-form-field class="w-100">
				<mat-label>E-Mail</mat-label>
				<input matInput type="email" formControlName="email" />
				<mat-error *ngIf="fpForm.controls.email.hasError('required')">E-Mail is required</mat-error>
				<mat-error *ngIf="fpForm.controls.email.hasError('email')">E-Mail is invalid</mat-error>
				<mat-error *ngIf="fpForm.controls.email.hasError('minlength')">E-Mail is too short. Minimum length:
					{{fpForm.controls.email.errors.minlength.requiredLength}}</mat-error>
			</mat-form-field>

			<div fxLayout="row" fxLayoutAlign="center center">
				<button id="send-email-button" [disabled]="!fpForm.valid" mat-stroked-button color="accent" type="submit">Send e-mail</button>
			</div>

		</form>
	</div>
</div>